<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article.id%>
  <h4><%= _("Merge Articles") %></h4>
  <%= form_tag "/admin/content/merge/#{@article.id}" do -%>
    <br/>
    <input id="merge_with" name="merge_with" size="30" type="text" />
    <%= hidden_field_tag 'this_id', @article.id %>
    <%= submit_tag "Merge", :id => "Merge With This Article"%>
  <% end %>
<% end %>
